/* body {
    background-color: rgb(6, 37, 37);
}

h1 {
    color: blue;
} */


/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
} */


/* td,
th {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
} */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}