/* body {
    background-color: rgb(6, 37, 37);
}

h1 {
    color: blue;
} */


/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
} */


/* td,
th {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
} */


/* table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
} */


/* a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: line-through;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */


/* 
a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

.btn {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} */


/* Reset + modern replacement for bullets */

nav {
    padding: 10px;
    background-color: black;
}

nav li {
    position: relative;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

nav li ul {
    display: none;
    /* hidden by default */
    position: absolute;
    top: 100%;
    /* below parent li */
    left: 0;
    /* align left edge */
    background-color: #333;
    padding: 0.5rem 0;
    min-width: 150px;
    border-radius: 4px;
    z-index: 100;
    /* Important: ensure vertical stacking */
    display: none;
    flex-direction: column;
    /* optional: safe-guard */
}

nav li:hover>ul {
    display: block;
}

nav ul li ul a {
    color: white;
    padding: 8px 12px;
    display: block;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
    position: relative;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a {
    color: white;
}